<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profil</title>
    
  </head>
  <body>
<%- include('index.ejs') %>

    <section class="container mx-auto">
        <div class="row col-8 card mx-auto">
            <div class="col-8 mx-auto text-center"style="padding:10px;">
    <!-- <div class="card mb-3" "> -->
             <h1 style="color: black;">Bienvenue <%= user.pseudo %></h1>
               <div class="bd-example" >
               <p style="color: black;">Email : <%= user.email %></p>
                <img src="<%= user.profil %>" alt="<%= user.pseudo %>" width="200" height="200">
                </div>
    </div>
    </div>
    </section>
  </body>
</html>